<pre><code>&lt;div class="dropdown dropdown-inline mr-2"&gt;
    &nbsp;&lt;button type="button"
    &nbsp;class="btn btn-light-primary font-weight-bolder dropdown-toggle"
    &nbsp;data-toggle="dropdown" aria-haspopup="true"
    &nbsp;aria-expanded="false"&gt;
    &nbsp;&lt;span class="svg-icon svg-icon-md"&gt;
    &nbsp;&nbsp;&lt;!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg--&gt;&lt;svg
    &nbsp;&nbsp;xmlns="http://www.w3.org/2000/svg"
    &nbsp;&nbsp;xmlns:xlink="http://www.w3.org/1999/xlink"
    &nbsp;&nbsp;width="24px" height="24px" viewBox="0 0 24 24"
    &nbsp;&nbsp;version="1.1"&gt;
    &nbsp;&nbsp;&lt;g stroke="none" stroke-width="1" fill="none"
    &nbsp;&nbsp;fill-rule="evenodd"&gt;
    &nbsp;&nbsp;&lt;rect x="0" y="0" width="24" height="24" /&gt;
    &nbsp;&nbsp;&lt;path
    &nbsp;&nbsp;d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
    &nbsp;&nbsp;fill="#000000" opacity="0.3" /&gt;
    &nbsp;&nbsp;&lt;path
    &nbsp;&nbsp;d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
    &nbsp;&nbsp;fill="#000000" /&gt;
    &nbsp;&nbsp;&lt;/g&gt;
    &nbsp;&nbsp;&lt;/svg&gt;
    &nbsp;&nbsp;&lt;!--end::Svg Icon--&gt;
    &nbsp;&lt;/span&gt; Export
    &nbsp;&lt;/button&gt;
    &nbsp;&lt;!--begin::Dropdown Menu--&gt;
    &nbsp;&lt;div
    &nbsp;class="dropdown-menu dropdown-menu-sm dropdown-menu-right"&gt;
    &nbsp;&lt;!--begin::Navigation--&gt;
    &nbsp;&lt;ul class="navi flex-column navi-hover py-2"&gt;
    &nbsp;&nbsp;&lt;li
    &nbsp;&nbsp;class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2"&gt;
    &nbsp;&nbsp;Choose an option:
    &nbsp;&nbsp;&lt;/li&gt;
    &nbsp;&nbsp;&lt;li class="navi-item"&gt;
    &nbsp;&nbsp;&lt;a href="#" class="navi-link"&gt;
    &nbsp;&nbsp;&lt;span class="navi-icon"&gt;&lt;i
    &nbsp;&nbsp;class="la la-print"&gt;&lt;/i&gt;&lt;/span&gt;
    &nbsp;&nbsp;&lt;span class="navi-text"&gt;Print&lt;/span&gt;
    &nbsp;&nbsp;&lt;/a&gt;
    &nbsp;&nbsp;&lt;/li&gt;
    &nbsp;&nbsp;&lt;li class="navi-item"&gt;
    &nbsp;&nbsp;&lt;a href="#" class="navi-link"&gt;
    &nbsp;&nbsp;&lt;span class="navi-icon"&gt;&lt;i
    &nbsp;&nbsp;class="la la-copy"&gt;&lt;/i&gt;&lt;/span&gt;
    &nbsp;&nbsp;&lt;span class="navi-text"&gt;Copy&lt;/span&gt;
    &nbsp;&nbsp;&lt;/a&gt;
    &nbsp;&nbsp;&lt;/li&gt;
    &nbsp;&nbsp;&lt;li class="navi-item"&gt;
    &nbsp;&nbsp;&lt;a href="#" class="navi-link"&gt;
    &nbsp;&nbsp;&lt;span class="navi-icon"&gt;&lt;i
    &nbsp;&nbsp;class="la la-file-excel-o"&gt;&lt;/i&gt;&lt;/span&gt;
    &nbsp;&nbsp;&lt;span class="navi-text"&gt;Excel&lt;/span&gt;
    &nbsp;&nbsp;&lt;/a&gt;
    &nbsp;&nbsp;&lt;/li&gt;
    &nbsp;&nbsp;&lt;li class="navi-item"&gt;
    &nbsp;&nbsp;&lt;a href="#" class="navi-link"&gt;
    &nbsp;&nbsp;&lt;span class="navi-icon"&gt;&lt;i
    &nbsp;&nbsp;class="la la-file-text-o"&gt;&lt;/i&gt;&lt;/span&gt;
    &nbsp;&nbsp;&lt;span class="navi-text"&gt;CSV&lt;/span&gt;
    &nbsp;&nbsp;&lt;/a&gt;
    &nbsp;&nbsp;&lt;/li&gt;
    &nbsp;&nbsp;&lt;li class="navi-item"&gt;
    &nbsp;&nbsp;&lt;a href="#" class="navi-link"&gt;
    &nbsp;&nbsp;&lt;span class="navi-icon"&gt;&lt;i
    &nbsp;&nbsp;class="la la-file-pdf-o"&gt;&lt;/i&gt;&lt;/span&gt;
    &nbsp;&nbsp;&lt;span class="navi-text"&gt;PDF&lt;/span&gt;
    &nbsp;&nbsp;&lt;/a&gt;
    &nbsp;&nbsp;&lt;/li&gt;
    &nbsp;&lt;/ul&gt;
    &nbsp;&lt;!--end::Navigation--&gt;
    &nbsp;&lt;/div&gt;
    &nbsp;&lt;!--end::Dropdown Menu--&gt;
    &nbsp;&lt;/div&gt;</code></pre>