
<pre><code>&lt;table class="table table-bordered table-checkable" id="kt_datatable"&gt;
    &nbsp;&lt;thead&gt;
    &nbsp;&nbsp;&lt;tr&gt;
    &nbsp;&nbsp;&nbsp;&lt;th&gt;Ngày Hiệu lực&lt;/th&gt;
    &nbsp;&nbsp;&nbsp;&lt;th&gt;Số Quyết Định&lt;/th&gt;
    &nbsp;&nbsp;&nbsp;&lt;th&gt;Tên Tác Giả&lt;/th&gt;
    &nbsp;&nbsp;&nbsp;&lt;th&gt;Chức Danh&lt;/th&gt;
    &nbsp;&nbsp;&nbsp;&lt;th&gt;MNV&lt;/th&gt;
    &nbsp;&nbsp;&nbsp;&lt;th&gt;Tên Bài Báo&lt;/th&gt;
    &nbsp;&nbsp;&nbsp;&lt;th&gt;Tên Tạp Chí&lt;/th&gt;
    &nbsp;&nbsp;&nbsp;&lt;th&gt;Năm Đăng&lt;/th&gt;
    &nbsp;&nbsp;&nbsp;&lt;th&gt;Tiền Thưởng&lt;/th&gt;
    &nbsp;&nbsp;&lt;/tr&gt;
    &nbsp;&lt;/thead&gt;
    &nbsp;&lt;tbody&gt;
    &nbsp;&lt;/tbody&gt;
    &lt;/table&gt;</code></pre>

<!--JAVASCRIPT CẦN-->
<pre><code>&lt;script src="assets/plugins/custom/datatables/datatables.bundle.js"&gt;&lt;/script&gt;
    &nbsp;&lt;!--end::Page Vendors--&gt;
    &nbsp;&lt;!--begin::Page Scripts(used by this page)--&gt;
    &nbsp;&lt;script&gt;
    &nbsp;&nbsp;var KTDatatablesBasicBasic = function () {
    
    &nbsp;&nbsp;&nbsp;var initTable1 = function () {
    &nbsp;&nbsp;&nbsp;&nbsp;var table = $('#kt_datatable');
    
    &nbsp;&nbsp;&nbsp;&nbsp;// begin first table
    &nbsp;&nbsp;&nbsp;&nbsp;table.DataTable({
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;responsive: true,
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// DOM Layout settings
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dom: `&lt;'row'&lt;'col-sm-12'tr&gt;&gt;
    &nbsp;&nbsp;&lt;'row'&lt;'col-sm-12 col-md-5'i&gt;&lt;'col-sm-12 col-md-7 dataTables_pager'lp&gt;&gt;`,
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lengthMenu: [5, 10, 25, 50],
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pageLength: 10,
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;language: {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'lengthMenu': 'Display _MENU_',
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Order settings
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;order: [[1, 'desc']],
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;columnDefs: [
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],
    &nbsp;&nbsp;&nbsp;&nbsp;});
    
    &nbsp;&nbsp;&nbsp;&nbsp;table.on('change', '.group-checkable', function () {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;var set = $(this).closest('table').find('td:first-child .checkable');
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;var checked = $(this).is(':checked');
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(set).each(function () {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (checked) {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).prop('checked', true);
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).closest('tr').addClass('active');
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).prop('checked', false);
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).closest('tr').removeClass('active');
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
    &nbsp;&nbsp;&nbsp;&nbsp;});
    
    &nbsp;&nbsp;&nbsp;&nbsp;table.on('change', 'tbody tr .checkbox', function () {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).parents('tr').toggleClass('active');
    &nbsp;&nbsp;&nbsp;&nbsp;});
    &nbsp;&nbsp;&nbsp;};
    
    &nbsp;&nbsp;&nbsp;var initTable2 = function () {
    &nbsp;&nbsp;&nbsp;&nbsp;var table = $('#kt_datatable_2');
    
    &nbsp;&nbsp;&nbsp;&nbsp;// begin first table
    &nbsp;&nbsp;&nbsp;&nbsp;table.DataTable({
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;responsive: true,
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// DOM Layout settings
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dom: `&lt;'row'&lt;'col-sm-12'tr&gt;&gt;
    &nbsp;&nbsp;&lt;'row'&lt;'col-sm-12 col-md-5'i&gt;&lt;'col-sm-12 col-md-7 dataTables_pager'lp&gt;&gt;`,
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lengthMenu: [5, 10, 25, 50],
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pageLength: 10,
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;language: {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'lengthMenu': 'Display _MENU_',
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// Order settings
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// order: [[0, 'desc']],
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;columnDefs: [
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],
    &nbsp;&nbsp;&nbsp;&nbsp;});
    
    &nbsp;&nbsp;&nbsp;&nbsp;table.on('change', '.group-checkable', function () {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;var set = $(this).closest('table').find('td:first-child .checkable');
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;var checked = $(this).is(':checked');
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(set).each(function () {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (checked) {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).prop('checked', true);
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).closest('tr').addClass('active');
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).prop('checked', false);
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).closest('tr').removeClass('active');
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
    &nbsp;&nbsp;&nbsp;&nbsp;});
    
    &nbsp;&nbsp;&nbsp;&nbsp;table.on('change', 'tbody tr .checkbox', function () {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(this).parents('tr').toggleClass('active');
    &nbsp;&nbsp;&nbsp;&nbsp;});
    &nbsp;&nbsp;&nbsp;};
    
    &nbsp;&nbsp;&nbsp;return {
    
    &nbsp;&nbsp;&nbsp;&nbsp;//main function to initiate the module
    &nbsp;&nbsp;&nbsp;&nbsp;init: function () {
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;initTable1();
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;initTable2();
    &nbsp;&nbsp;&nbsp;&nbsp;}
    &nbsp;&nbsp;&nbsp;};
    &nbsp;&nbsp;}();
    
    &nbsp;&nbsp;jQuery(document).ready(function () {
    &nbsp;&nbsp;&nbsp;KTDatatablesBasicBasic.init();
    &nbsp;&nbsp;});
    &nbsp;&lt;/script&gt;</code></pre>